{
    "plugins": [
        "babel-plugin-transform-typescript-metadata",
        "module:@monster-js/transformer/jsx",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime"
    ],
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript"
    ]
}
